<div class="channels-table ">

    <table id="myTable" class="table  table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th> Img </th>
                <th>Title</th>
                <th>Description</th>

                <th>Subscribe</th>
            </tr>
        </thead>
        <tbody>
            {{#each channels}}
            <tr>
                <td class="img-col align-middle"> <img class="table_img" src="{{thumbnail_url}}" height="40px"
                        width="40px" /> </td>
                <td>{{title}}</td>
                <td>
                    {{ description}}
                <td class="align-middle">
                    <button class="sub-btn" id='{{channelId}}' onclick="defineRequest('{{channelId}}')">Subscribe
                    </button>
                    {{!-- <a href="https://www.youtube.com/channel/{{channelId}}?sub_confirmation=1" target="_blank">Subscribe</a>
                    --}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script>
    Swal.fire({
        title: '{{name}}',
        text: '{Wellcome Message Text}',
        imageUrl: '/images/avatar.png',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'Custom image',
        animation: false
    })

</script>